
.contact-section-content{
  display: flex;
  margin-top: 3.438rem;
  margin-bottom: 3.688rem;
  width: 56rem;
}

.contact-first-part,
.contact-second-part{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.contact-agree{
  font-size: 0.75rem;
  font-family: $font-open-sans;
  font-weight: 400;
  line-height: 1rem;
  color: #707070;
}

.contact-title{
  margin: 0;
  font-family: $font-raleway;
  font-size: 3.063rem;
  text-align: left;
  line-height: 3.563rem;
  color: $color-black;
}

.contact-text {
  font-family: $font-raleway;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: left;
  color: $color-black;
}

.contact-data{
  font-size: 1rem;
  font-family: $font-open-sans;
  line-height: 1.375rem;
  text-align: left;
  color: $color-grey;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-right: 7.5rem;
  position: relative;
}

.contact-mail,
.contact-phone{
  align-self: center;
}

.contact-mail:before{
  content: url("../../assets/Mail Icon.svg");
  text-align: left;
  width: 1.7rem ;
  height: 1.7rem;
  align-self: center;
}

.contact-phone:before{
  content: url("../../assets/Phone Icon.svg");
  width: 1.7rem ;
  height: 1.7rem;
  align-self: center;
}

.contact-btn{
  background-color: $color-primary;
  width: 14.125rem;
  height: 3.563rem;
  box-shadow: 0.313rem 0.625rem 0.875rem #07ACE629;
  border-radius: 2.25rem;
  border: 0;
  position: relative;
  right: 0;
  color: $color-white;
  font-size: 0.813rem;
  font-family: $font-open-sans;
  font-weight: 700;
  line-height: 1.125rem;
  align-self: flex-end;
}

.contact-give-name,
.contact-give-email{
  height:4rem;
  width: 27.5rem;
  border: 0;
  border-bottom: 1px solid $color-grey;
  outline: none;
  color: $color-grey;
  font-family: $font-open-sans;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 700;
}

.contact-give-name:focus,
.contact-give-email:focus{
  background: $color-light-grey;
  color: $color-black;
  font-family: $font-open-sans;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 700;

}

.contact-give-email::placeholder,
.contact-give-name::placeholder{
  text-transform: uppercase;
  color: $color-primary;
  font-size: 0.688rem;
  text-align: left;
  line-height: 0.938rem;
  font-weight: 700;
  font-family: $font-open-sans;
  letter-spacing: 0.205rem;
}

.contact-agree{
  position: relative;
  display: flex;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.contact-agree>p{
  margin: 0;
}


.contact-checkbox{
  width: 1.5rem;
  height: 1.5rem;
}
.contact-checkbox:before{
  content: url("../../assets/Checkmark.svg");
  width:  1rem;
  height: 1rem;
  position:absolute;
  top: 0.6rem;
  left:0.6rem;
}

