
header{
  background-color: $color-white;
  box-shadow: 0 3px 6px #00000029;;
}

.header{
  display: flex;
  justify-content: space-between;
  height: 1.875px;
}

@media (min-width: $breakpoint-xl) {
  .header{
    height: 4.375rem;
  }
}
