
.header-logo{
  justify-self: flex-start;
  align-self: center;
  text-align: left;
  color: $color-primary;
  font-family: $font-raleway;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.313rem;
}
