
.pricing-section-content,
.pricing-content{
  display: flex;
  flex-direction: column;
  margin-bottom: 6.25rem;
}

.pricing-title{
  align-self: center;
  margin-top: 6.25rem;
  margin-bottom: 3.125rem;
  font-weight: 400;
  font-family: $font-raleway;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: $color-black;
}

.pricing{
  display: flex;
  justify-content: space-around;
}

.parameter,
.parameter-license,
.parameter-support,
.price,
.pricing-subtitle,
.pricing-btn,
.price_limited{
  align-self: center;
}

.pricing-subtitle,
.price_limited{
  font-size: 1.25rem;
  text-align: center;
  font-family: $font-raleway;
  font-weight: 700;
  color: $color-darkblue;
}

.price_limited{
  font-size: 0.75rem;
}

.parameter,
.parameter-license,
.parameter-support{
  font-size: 0.875rem;
  text-align: center;
  font-family: $font-open-sans;
  font-weight: 400;
  color: $color-black;
}

.price{
  font-size: 2.875rem;
  text-align: center;
  font-family: $font-open-sans;
  font-weight: 300;
  color: $color-redish;
}

.pricing-content-professional>.price{
  color: $color-primary;
}

.pricing-content-professional>.price{
  color: $color-green;
}

.pricing-content-professional,
.pricing-content-basic,
.pricing-content-premium{
  border-radius: 1.125rem;
  width: 23.438rem;
  height: 28.813rem;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.pricing-content-professional{
  border: 1px solid $color-primary;
  box-shadow: 0.313rem 0.625rem 1.688rem #07ACE629;
  width: 25.313rem;
  height: 31.25rem;
  margin: 0;
}

.pricing-content-basic{
  border: 1px solid $color-redish;
  border-radius: 1.125rem;
}

.pricing-content-premium{
  border: 1px solid $color-green;
  border-radius: 1.125rem;
}

.pricing-btn > a{
  text-align: center;
  text-decoration: none;
  font-size: 0.813rem;
  font-family: $font-open-sans;
  font-weight: 700;
  color: $color-white;
}

.pricing-btn{
  background-color: $color-redish;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 1.438rem;
  border: 0;
  align-self: center;
  position: relative;
  top: 3.125rem;
}

.pricing-content-professional > .pricing-btn{
  background-color: $color-primary;
  top: 4.688rem;
}

.pricing-content-premium > .pricing-btn{
  background-color: $color-green;
  top: 4.688rem;
}

.parameter::before,
.parameter-license::before,
.parameter-support::before{
  content: url("../../assets/Ckechmark-1.svg");
  margin-right: 0.625rem;
}

.pricing-content-basic > .parameter-license::before,
.pricing-content-basic > .parameter-support::before,
.pricing-content-professional > .parameter-support::before{
  content: url("../../assets/Close.svg");
}
